@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
body{
  background-color: #F1F4F6;

}
/* navbar */
.nav{
  transition: .7s ease-in-out;
}
.nav-links{
  transition: .5s;
  position: relative;
  display: flex;
}
.nav-links a{
  margin: 0 .7rem;
  transition: .5s ease-in-out;
}
.nav-links a:hover{
  color: #0F90E5;
}
.menubtn{
  width: 7vw;
  height: 4vw;
  display: none;
  margin:  3vw;
  
}
.menubtn div{
  width: 90%;
  height: 20%;
  background-color: #0F90E5;
  border-radius: 3px;
  transition: 1s ease-in-out;
}
.close{
  transition: .5s ease-in-out;
}
.close:nth-child(1){
   transform: rotate(45deg);
}
.close:nth-child(2){
  display: none;
}
.close:nth-child(3){
  transform: rotate(-45deg);
}

@media screen and (max-width:900px) {
  .nav-links{
    position: fixed;
    top: 5rem;
    right: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 0vh;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff8a;
    color: rgb(31, 31, 31);
    backdrop-filter: blur(3px);
    text-shadow: 10px 0px 15px #3d7fa248 inset,
    -2px 0px 15px #5f616247 inset,
    2px 0px 20px #81818148  ;
    font-size: 3vw;
  }
  html{
    scroll-snap-type: none;
  }
  .contact-button{
    display: none;
  }
  .menubtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo{
    margin: 3vw;
    font-size: 4vw;
    padding-bottom: 1rem;
  }
  .open{
    height: 50vh;
}
}
@media screen and (max-width:1200px) and ( min-width:901px) {
  .basic-info{
    width: auto;
  }
  .service-desc{
    width: auto;
    font-size: 18px;
  }
  #about{
    height: auto;
  }
  #projects{
    height: auto;
  }
  #skills{
    height: auto;
  }
  #services{
    height: auto;
  }
  #contact{
    height: auto;
  }
  #home .skill .image{
    width: 5rem;
    height: 5rem;
  }

}